body{
    margin: 0;
    padding: 0;
    background-image: url(photos/cobra.jpg);
    background-size: cover; 
    color: antiquewhite;
}

.banner_logo img{
    position: relative; 
    top: 1px;
    left: 1px;
}

a {
    text-transform: uppercase;
}

a:link {
    color: antiquewhite;
    text-decoration: none;
}

a:visited {
    color: pink;
}

a:hover {
    color: peru;
}